project:
  type: website
  output-dir: docs

website:
  title: "Audra's Webpage"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: 
      light: [morph,test.scss]
    css: styles.css
    toc: true

editor: visual

